body{
    height:100vh;
    width:100%;
    top:0;
    left: 0;
    padding: 0;
    margin: 0;
    background-image: url(SVG-cards-1.3/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    text-align: center;
    font-family: 'Ranga', cursive;
}
#outerContainer{
    display: flex;
    flex-direction: column;
}
.cardDisplayContainer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: auto;
    margin-top: 5%;
}
/* #playerCard p, #compCard p{
    margin-top: 0;
    font-size: 6vh;
} */
#playerCardName, #compCardName{
    font-size: 30px;
}
#scoreboard{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 5vh;
    margin: 0;
}
.score{
    font-weight: bold;
    font-size: 10vh;
}
#startButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: blue;
    border: 2px solid blue;
    height: 10vh;
    width: 10vw;
    border-radius: 10px;
    margin-top: 10vh;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#playerCardsCollected, #compCardsCollected{
    margin-top: 0;
    display: flex;
    flex: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: auto;
    flex-shrink: 1;
    width: 45vw;
    max-width: 45vw;
    height: 20vh;
    max-height: 20vh;
    background-color: #eeeeee91;
    border: 2px solid black;
    border-radius: 20px;
    margin: 3% 5% 0 5%;
}
#playerCardsCollected > div, #compCardsCollected > div {
    flex: 1;
    max-height: 100%;
    min-height: 25%;
    height: auto;
    width: auto;
    padding: 1%;
}
#playerCardsCollected > div > img, #compCardsCollected > div > img{
    max-width:100%;
    max-height:100px;
    min-height: 25%;
    margin: 5px;
    transition: 0.5s;
    object-fit: contain;
}
@keyframes .slideFromLeft{
    0%{
        transform: rotate(xx) translateX(-100vw);
    }
    100%{
        transform: rotate(xx);
    }
}

.slideFromLeftEl{
    animation: slideFromLeft 2s infinite 0s linear;
}